body {
    color: rgb(24, 24, 24);
    background: rgb(241, 241, 241);
}
h1 {
    text-align: center;
}
#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}